<img class="h-24 w-auto" src="../../assets/logo.png" alt="Scrhg">
<h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Formulaire d'inscription</h2>
<p class="mt-2 text-md mb-8 text-gray-600">Remplissez les informations ci-dessous afin de vous inscrire à nos cours de Cafetier.</p>

<div *ngIf="!sucess" class="shadow sm:overflow-hidden sm:rounded-md">
  <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
    <form [formGroup]="form" class="grid grid-cols-6 gap-6">

      <!-- CIVILITE -->

      <div class="col-span-6 sm:col-span-3">
        <label for="country" class="block text-sm font-medium text-gray-700">Civilité *</label>
        <select formControlName="civ" [class.border-red]="errorForm && form.get('civ')?.errors" autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
          <option>Monsieur</option>
          <option>Madame</option>
        </select>
      </div>

      <br>

      <!-- NOM DE FAMILLE -->

      <div class="col-span-6 sm:col-span-3">
        <label for="last-name" class="block text-sm font-medium text-gray-700">Nom *</label>
        <input formControlName="lastname" [class.border-red]="errorForm && form.get('lastname')?.errors" type="text" autocomplete="family-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 sm:text-sm focus:ring-0">
      </div>

      <!-- PRENOM -->

      <div class="col-span-6 sm:col-span-3">
        <label for="first-name" class="block text-sm font-medium text-gray-700">Prénom *</label>
        <input formControlName="firstname" [class.border-red]="errorForm && form.get('firstname')?.errors" type="text" autocomplete="given-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- ADRESSE -->

      <div class="col-span-6">
        <label for="street-address" class="block text-sm font-medium text-gray-700">Adresse *</label>
        <input formControlName="street" [class.border-red]="errorForm && form.get('street')?.errors" type="text" autocomplete="street-address" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- NUMERO -->

      <div class="col-span-6 sm:col-span-6 lg:col-span-3">
        <label for="city" class="block text-sm font-medium text-gray-700">Numéro *</label>
        <input formControlName="number" [class.border-red]="errorForm && form.get('number')?.errors" type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- VILLE -->

      <div class="col-span-6 sm:col-span-6 lg:col-span-3">
        <label for="city" class="block text-sm font-medium text-gray-700">Ville *</label>
        <input formControlName="city" [class.border-red]="errorForm && form.get('city')?.errors" type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- CODE POSTAL -->

      <div class="col-span-6 sm:col-span-3">
        <label for="postal-code" class="block text-sm font-medium text-gray-700">Code postal *</label>
        <input formControlName="zip" [class.border-red]="errorForm && form.get('zip')?.errors" type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- PAYS -->

      <div class="col-span-6 sm:col-span-3">
        <label for="region" class="block text-sm font-medium text-gray-700">Pays *</label>
        <select formControlName="country" [class.border-red]="errorForm && form.get('country')?.errors" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
          <option>Suisse</option>
          <option>France</option>
          <option>Allemagne</option>
          <option>Italie</option>
          <option>Autre</option>
        </select>
      </div>

      <!-- Téléphone Fixe -->

      <div class="col-span-6 sm:col-span-3">
        <label for="region" class="block text-sm font-medium text-gray-700">Téléphone Fixe</label>
        <input formControlName="phone" (focusout)="checkPhoneFormat(this.form.get('phone')?.value, 'phone')" [class.border-red]="(errorForm && form.get('phone')?.errors) || phoneError" type="text" name="price" id="price" class="block w-full rounded-md border-gray-300 focus:border-gray-400 focus:ring-0 sm:text-sm" placeholder="+xx xxx xx xx">
        <p *ngIf="phoneError" class="text-red text-sm mt-2">Le numéro est invalide.</p>  
      </div>

      <!-- Téléphone Mobile -->

      <div class="col-span-6 sm:col-span-3">
        <label for="region" class="block text-sm font-medium text-gray-700">Téléphone Mobile *</label>
        <input formControlName="mobile" (focusout)="checkPhoneFormat(this.form.get('mobile')?.value, 'mobile')" [class.border-red]="(errorForm && form.get('mobile')?.errors) || mobileError" type="text" name="price" id="price" class="block w-full rounded-md border-gray-300 focus:border-gray-400 focus:ring-0 sm:text-sm" placeholder="+xx xxx xx xx">
        <p *ngIf="mobileError" class="text-red text-sm mt-2">Le numéro est invalide.</p>  
      </div>

      <!-- Email -->

      <div class="col-span-6 ">
        <label class="block text-sm font-medium text-gray-700">Email *</label>
        <input formControlName="email" [class.border-red]="errorForm && form.get('email')?.errors" type="email" autocomplete="email" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- NAISSANCE -->

      <div class="col-span-6 sm:col-span-3">
        <label class="block text-sm font-medium text-gray-700">Date de naissance *</label>
        <input formControlName="birthdate" [class.border-red]="errorForm && form.get('birthdate')?.errors" type="date" autocomplete="bday-day" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- NATIONALITE -->

      <div class="col-span-6 sm:col-span-3">
        <label class="block text-sm font-medium text-gray-700">Nationalité *</label>
        <input formControlName="nationality" [class.border-red]="errorForm && form.get('nationality')?.errors" type="text" autocomplete="country" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- ORIGINE -->

      <div class="col-span-6 sm:col-span-3">
        <label class="block text-sm font-medium text-gray-700">Lieu d'origine</label>
        <input formControlName="swiss_orig" [class.border-red]="errorForm && form.get('swiss_orig')?.errors" type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
        <p class="mt-2 text-sm text-gray-500" id="email-description">Pour les Suisses, lieu d'origine (ville et canton)</p>
      </div>

      <!-- PROFESSION -->

      <div class="col-span-6 sm:col-span-3">
        <label class="block text-sm font-medium text-gray-700">Profession</label>
        <input formControlName="prof" [class.border-red]="errorForm && form.get('prof')?.errors" type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- APPRENTISSAGE -->

      <div class="col-span-6">
        <label class="block text-sm font-medium text-gray-700">Apprentissage</label>
        <input formControlName="learning" [class.border-red]="errorForm && form.get('learning')?.errors" type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
      </div>

      <!-- COURS -->

      <div class="col-span-6">
        <label for="region" class="block text-sm font-medium text-gray-700">Cours</label>
        <select formControlName="lesson" [class.border-red]="errorForm && form.get('lesson')?.errors" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm">
          <option *ngFor="let cours of allCours">{{ cours.text }}</option>
        </select>
      </div>

      <!-- REMARQUES -->

      <div class="col-span-6">
        <label for="comment" class="block text-sm font-medium text-gray-700">Remarques</label>
        <div class="mt-1">
          <textarea formControlName="notes" [class.border-red]="errorForm && form.get('notes')?.errors" rows="4" name="comment" id="comment" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring-0 sm:text-sm"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="bg-gray-50 px-4 py-3 sm:px-6 text-right flex flex-col sm:flex-row sm:justify-between align-middle items-center">
    <div class="flex">
      <img *ngIf="errorForm && form.invalid" class="my-5 sm:my-0 h-6 w-auto mr-3" src="../../assets/warning.svg">
      <p *ngIf="errorForm && form.invalid" class="my-5 text-center text-red sm:text-left sm:my-0 text-sm">Merci de remplir tous les champs obligatoires.</p>
      <p *ngIf="!errorForm" class="my-5 text-center  sm:text-left sm:my-0 text-sm">* Obligatoire</p>
    </div>
    <button type="submit" (click)="submitForm()" class="w-full sm:w-auto text-right inline-flex justify-center rounded-md border border-transparent bg-red py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-900 focus:outline-none focus:ring-2 focus:ring-red focus:ring-offset-2">
      <span *ngIf="!spinnerDisplay">Envoyer</span>
      <div *ngIf="spinnerDisplay" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </button>
  </div>
</div>

<div *ngIf="sucess" class="shadow sm:overflow-hidden sm:rounded-md">
  <div class="bg-white px-4 py-5 sm:p-6 flex items-center h-36 justify-center">
    <img class="h-8 w-auto mr-4" src="../../assets/sucess.svg">
    <p class="text-center">Votre enregistrement est à présent terminé !</p>
  </div>
</div>

<p class="mt-5 text-md mb-8 text-gray-600">© {{ year }} Copyright <a href="https://www.prolibre.com/" class="underline" target="_blank">ProLibre SARL</a></p>